<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>My Courses</h1>

      <div class="page-actions pull-right">
        <btn class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">+ Add Item</btn>
      </div>
    </div>

    <ul class="list-group">
      {{#each myMeetings}}
        {{ > meetingRow this }}
      {{/each}}
    </ul>

    <h1>All Courses</h1>
    <ul class="list-group">
      {{#each meetings}}
        {{ > meetingRow this }}
      {{/each}}
    </ul>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Add an Item</h4>
        </div>
        <form role="form" class="add-item">
          <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name of Item">
              </div>
              <div class="form-group">
                <label>Cost</label>
                <input type="number" class="form-control" name="cost" placeholder="Cost">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="+ Add Item"/>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>
